body {
    background-color: #191102;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 2vw;
    overflow: hidden;
}

.content {
    padding: 5%; 
    text-align: center;
}

h1 {
    color: #304C6E;
    font-size: 2em;
}

h2 {
    padding-top: 3%;
    color: #8c2f39;
    font-size: 2em;
    font-family: 'Press Start 2P', sans-serif;
    }

#button {
    background-color: red;
    cursor: pointer;
    padding: 1%;
    border-radius: 5px;
}